html,body,header,main,footer, ul,.row{position:relative; display: inline-block; margin:0px; padding:0px; width: 100%;height: auto; font-family:sans-serif; color:#384449}
        header{position: fixed; z-index: 1000; background-color:#ffffff;}
        main{top:60px;}
.center{margin-left:3%; margin-right:1%;}
        .block .center{margin-left:10%; margin-right:5%;}
        
        .left{float: left; left:0px;}
        .right{float: right; right: 0px;}
        nav>div, nav ul>li{display: inline-block; margin:0px 10px;}
        nav>div{margin:20px;}
        nav ul>li>a, nav ul>li{color: #4F5F65; text-decoration: none;list-style: none;}		
        .nav-logo, .btn{color:#3EA1E8; font-weight: bold;}
        nav .btn{border: 1px solid #3EA1E8; padding:10px 20px; margin:15px; cursor:pointer;}
        .block{background-color: #555555; opacity: 0.9;}
        .row .col2{width: 35%; padding: 30px; margin:50px 20px;}
        .block .bigtext{color: #ffffff; font-size: 46px; font-weight: bold;}
        .block .btn{border: 1px solid #ffffff; padding:10px 20px; margin-top: 60px; color:#ffffff; position: absolute; cursor:pointer;}
        .form{width:70%; top:-50px;border: 1px solid #ffffff; padding: 15px 30px; margin:10px; color:#ffffff; font-size:14px}
        .form ul>li{list-style: none;}
		input{border:none; padding: 0px 15px;}
		.form label{display:block; margin:5px 0px; color:#ffffff;}
        .form input[type="text"]{display:block;margin-bottom:15px; width:80%; height:45px; background: #F7F7F7; background-blend-mode: multiply; mix-blend-mode: normal; box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 5px}
		.form label>a{font-size:10px; color:#ffffff;}
		.form input[type="submit"]{background-color:#3EA1E8; box-shadow: 0px 10px 20px rgba(33, 108, 180, 0.4); color:#ffffff; padding:15px 30px; margin:30px 0px; font-size:16px; font-weight:bold; cursor:pointer;}
		.row .col4{position:relative; top:-75px; width:15%; min-height:350px; display:inline-block;background: #F7F7F7; box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1); margin:20px; padding:40px;}
		.row .col4>div{ margin-bottom:50px;}
		.arrow-icon{position: absolute; bottom: 0px; border: 1px solid #3EA1E8; width: auto; height: auto; padding: 15px;}
		.pdf-icon{position: absolute; bottom: 0px; padding: 15px 0px;}
		.row .col5{position:relative; width:15%; min-height:250px; display:inline-block; background: #F7F7F7; border: 1px solid #E5E5E5; box-sizing: border-box;  margin:25px; padding:30px;}
		.row .doc a{color: #384449}
		.statistic{background: #3EA1E8; color:#ffffff; text-align:center; padding:60px 50px;}
		.statistic .bigtext{font-size:38px; font-weight: bold;}
		.statistic .info{display:inline-block; margin:50px 50px 0px; }
		.divider{background: #54F2F2; border-radius: 2px; width:60px; height:8px; margin-left:48%; margin-right:50%; margin-top:15px; margin-bottom:25px;}